.details {
    padding: 10px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    min-height: 100vh;
    .left,
    .middle,
    .right {
      width: 30%;
    }
  
    .left {
      text-align: center;
  
      .image {
        width: 100%;
        background-color: aqua;
        border-radius: 15px;
        margin-bottom: 20px;
      }
  
      .btn1,
      .btn2 {
        padding: 10px 15px;
        border-radius: 10px;
        margin: 5px 10px;
        color: white;
        border: none;
        cursor: pointer;
  
        &.btn1 {
          background-color: red;
        }
  
        &.btn2 {
          background-color: #82b84f;
        }
      }
    }
  
    .middle {
      p {
        margin: 0;
        text-align: center;
      }
    }
  
    .right {
    background-color: white;
      padding: 15px 20px;
      border-radius: 15px;
      height: fit-content;
  
      h3 {
        padding: 5px;
        margin: 0;
        border-bottom: 3px solid #e5e7eb;
      }
    }
  
    
    @media (max-width: 1024px) {
      .left,
      .middle,
      .right {
        width: 90%;
      }
    }
  
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
  
      .left,
      .middle,
      .right {
        width: 90%;
      }
    }
  }
  
  .mealName {
    margin-bottom: 0;
    padding-left: 10px;
  }
  